{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1>Posts! ✅</h1>
    <table class="highlight">
      <thead>
        <tr>
          <td>Id</td>
          <td>Title</td>
          <td>Eliminar</td>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr>
            <td>{{ post.id }}</td>
            <td>
              <a href=" {{ path('post.show', {id: post.id} ) }} ">{{ post.title }}</a>
            </td>
            <td>
              <a class="red-text" href=" {{ path('post.delete', {id: post.id} ) }} ">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}