{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1>Post:
      {{ post.title }}! ✅</h1>
    <h2>Con id:
      {{ post.id }}! ✅</h2>
    <h3>
      <strong>Categoria:
      </strong>
      {{ post.category }}
    </h3>

    <div class="col s12 text-center">
      <img class="materialboxed" width="650" src="{{ '/uploads/' ~ post.image }}">
    </div>
  </div>
{% endblock %}